.add-car-form{
  text-align: center;
}

.navBar {
  display:flex;
  flex-direction: row; 
  justify-content: space-evenly;
}

input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
  padding: 10px;
  width:500px;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=text] {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.contactUs{
  text-align: center;
}

.homeVideo{
  display:flex;
  justify-content: center;
}


